Go ahead and install all the required packages using pip installer

Now lets import all the packages

In [6]:
import streamlit as st
import pandas as pd
import seaborn as sns
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.figure_factory as ff
import json

2. make sure you load the csv file using pandas

In [3]:
df = pd.read_csv("factors_of_women.csv")
df.head()

,S.NO,STATES,YEAR,RAPE,KIDNAP & ABDUCTION,DOWRY DEATHS,CRUETLY BY HUSBAND OR HIS RELATIVES,HUMAN TRAFFICKING,ASSAULT ON MODESTY,SEXUAL HARRASSMENT,others,tot
0,1,Andhra Pradesh,2011,1442,1612,599,13376,0,0,3658,497,28246
1,2,Arunachal Pradesh,2011,42,60,0,18,0,0,0,0,171
2,3,Assam,2011,1700,3192,121,5246,2,0,8,21,11503
3,4,Bihar,2011,934,3050,1413,2607,10,0,11,23,10231
4,5,Chhattisgarh,2011,1053,365,104,834,2,0,174,15,4219

In [16]:
indian_states = json.load(open('india_states.geojson', 'r'))

state_id_map = {}
for feature in indian_states['features']:
    feature['id'] = feature['properties']['state_code']
    state_id_map[feature['properties']['st_nm']] = feature['id']
    
df['id'] = df['STATES'].apply(lambda x : state_id_map[x])

In [25]:
df[df["YEAR"] == 2019]

,S.NO,STATES,YEAR,RAPE,KIDNAP & ABDUCTION,DOWRY DEATHS,CRUETLY BY HUSBAND OR HIS RELATIVES,HUMAN TRAFFICKING,ASSAULT ON MODESTY,SEXUAL HARRASSMENT,others,tot
288,1,Andhra Pradesh,2019,1086,589,112,7851,69,4444,1892,88,17746
289,2,Arunachal Pradesh,2019,63,68,1,54,1,80,6,0,317
290,3,Assam,2019,1773,6989,156,11943,153,4619,385,12,30025
291,4,Bihar,2019,730,9025,1120,2397,1,312,11,40,18587
292,5,Chhattisgarh,2019,1036,2033,76,732,25,1316,232,12,7689
293,6,Goa,2019,72,52,1,9,34,119,37,1,329
294,7,Gujarat,2019,528,922,9,3619,8,1048,16,24,8799
295,8,Haryana,2019,1480,2803,248,4867,8,2581,173,28,14683
296,9,Himachal Pradesh,2019,359,337,4,228,0,498,72,10,1636
297,10,Jammu & Kashmir,2019,223,893,8,347,0,1440,15,0,3069
298,11,Jharkhand,2019,1416,1008,299,1426,41,1646,7,4,8760
299,12,Karnataka,2019,505,1056,194,2472,11,4937,107,214,13828
300,13,Kerala,2019,2023,227,8,2970,100,4507,435,10,11462
301,14,Madhya Pradesh,2019,2485,6091,550,5486,29,5585,174,21,27560
302,15,Maharashtra,2019,2299,6906,196,8430,220,10472,1074,152,37144
303,16,Manipur,2019,36,84,0,15,4,59,7,0,266
304,17,Meghalaya,2019,102,71,3,23,1,96,18,3,558
305,18,Mizoram,2019,42,2,0,5,7,35,0,0,170
306,19,Nagaland,2019,8,13,0,0,1,8,1,0,43
307,20,Odisha,2019,1382,3934,342,2739,79,11308,536,19,23183
308,21,Punjab,2019,1002,1534,69,1595,8,944,35,9,5886
309,22,Rajasthan,2019,5997,5907,452,18432,5,8802,69,40,41550
310,23,Sikkim,2019,11,0,0,1,0,21,2,0,125
311,24,Tamil Nadu,2019,362,699,28,781,11,803,7,349,5934
312,25,Telangana,2019,873,1322,163,8541,55,4190,695,22,18394
313,26,Tripura,2019,88,138,38,451,2,153,5,0,1070
314,27,Uttar Pradesh,2019,3065,11649,2410,18304,14,11988,42,22,59853
315,28,Uttarakhand,2019,526,375,57,644,2,475,10,3,2541
316,29,West Bengal,2019,1069,4249,444,16951,52,3399,391,97,30394
317,30,A & N Islands,2019,13,0,0,1,0,25,3,0,135
318,31,Chandigarh,2019,112,129,6,177,1,66,15,0,515
319,32,D&N Haveli,2019,0,1,3,3,0,3,0,0,49
320,33,Daman & Diu,2019,4,2,2,4,0,5,3,1,33
321,34,Delhi UT,2019,1253,3672,116,3792,24,2355,456,4,13395
322,35,Lakshadweep,2019,0,0,0,0,0,5,8,0,38
323,36,Puducherry,2019,10,0,0,8,0,23,0,0,95