Go ahead and install all the required packages using pip installer

Now lets import all the packages

In [2]:
import streamlit as st
import pandas as pd
import seaborn as sns
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.figure_factory as ff
import json

2. make sure you load the csv file using pandas

In [3]:
df = pd.read_csv("factors_of_women.csv")
df.head()

,S.NO,STATES,YEAR,RAPE,KIDNAP & ABDUCTION,DOWRY DEATHS,CRUETLY BY HUSBAND OR HIS RELATIVES,HUMAN TRAFFICKING,ASSAULT ON MODESTY,SEXUAL HARRASSMENT,OTHERS,Total Crimes Against Women
0,1,Andhra Pradesh,2011,1442,1612,599,13376,0,0,3658,497,28246
1,2,Arunachal Pradesh,2011,42,60,0,18,0,0,0,0,171
2,3,Assam,2011,1700,3192,121,5246,2,0,8,21,11503
3,4,Bihar,2011,934,3050,1413,2607,10,0,11,23,10231
4,5,Chhattisgarh,2011,1053,365,104,834,2,0,174,15,4219

In [4]:
indian_states = json.load(open('india_states.geojson', 'r'))

state_id_map = {}
for feature in indian_states['features']:
    feature['id'] = feature['properties']['state_code']
    state_id_map[feature['properties']['st_nm']] = feature['id']
    
df['id'] = df['STATES'].apply(lambda x : state_id_map[x])

In [5]:
#df[df["YEAR"] == 2019]

,S.NO,STATES,YEAR,RAPE,KIDNAP & ABDUCTION,DOWRY DEATHS,CRUETLY BY HUSBAND OR HIS RELATIVES,HUMAN TRAFFICKING,ASSAULT ON MODESTY,SEXUAL HARRASSMENT,OTHERS,Total Crimes Against Women
288,1,Andhra Pradesh,2019,1086,589,112,7851,69,4444,1892,88,17746
289,2,Arunachal Pradesh,2019,63,68,1,54,1,80,6,0,317
290,3,Assam,2019,1773,6989,156,11943,153,4619,385,12,30025
291,4,Bihar,2019,730,9025,1120,2397,1,312,11,40,18587
292,5,Chhattisgarh,2019,1036,2033,76,732,25,1316,232,12,7689
293,6,Goa,2019,72,52,1,9,34,119,37,1,329
294,7,Gujarat,2019,528,922,9,3619,8,1048,16,24,8799
295,8,Haryana,2019,1480,2803,248,4867,8,2581,173,28,14683
296,9,Himachal Pradesh,2019,359,337,4,228,0,498,72,10,1636
297,10,Jammu & Kashmir,2019,223,893,8,347,0,1440,15,0,3069
298,11,Jharkhand,2019,1416,1008,299,1426,41,1646,7,4,8760
299,12,Karnataka,2019,505,1056,194,2472,11,4937,107,214,13828
300,13,Kerala,2019,2023,227,8,2970,100,4507,435,10,11462
301,14,Madhya Pradesh,2019,2485,6091,550,5486,29,5585,174,21,27560
302,15,Maharashtra,2019,2299,6906,196,8430,220,10472,1074,152,37144
303,16,Manipur,2019,36,84,0,15,4,59,7,0,266
304,17,Meghalaya,2019,102,71,3,23,1,96,18,3,558
305,18,Mizoram,2019,42,2,0,5,7,35,0,0,170
306,19,Nagaland,2019,8,13,0,0,1,8,1,0,43
307,20,Odisha,2019,1382,3934,342,2739,79,11308,536,19,23183
308,21,Punjab,2019,1002,1534,69,1595,8,944,35,9,5886
309,22,Rajasthan,2019,5997,5907,452,18432,5,8802,69,40,41550
310,23,Sikkim,2019,11,0,0,1,0,21,2,0,125
311,24,Tamil Nadu,2019,362,699,28,781,11,803,7,349,5934
312,25,Telangana,2019,873,1322,163,8541,55,4190,695,22,18394
313,26,Tripura,2019,88,138,38,451,2,153,5,0,1070
314,27,Uttar Pradesh,2019,3065,11649,2410,18304,14,11988,42,22,59853
315,28,Uttarakhand,2019,526,375,57,644,2,475,10,3,2541
316,29,West Bengal,2019,1069,4249,444,16951,52,3399,391,97,30394
317,30,A & N Islands,2019,13,0,0,1,0,25,3,0,135
318,31,Chandigarh,2019,112,129,6,177,1,66,15,0,515
319,32,D&N Haveli,2019,0,1,3,3,0,3,0,0,49
320,33,Daman & Diu,2019,4,2,2,4,0,5,3,1,33
321,34,Delhi UT,2019,1253,3672,116,3792,24,2355,456,4,13395
322,35,Lakshadweep,2019,0,0,0,0,0,5,8,0,38
323,36,Puducherry,2019,10,0,0,8,0,23,0,0,95

In [6]:
consolidated_state = df.groupby('STATES')[["RAPE","KIDNAP & ABDUCTION","DOWRY DEATHS","CRUETLY BY HUSBAND OR HIS RELATIVES","HUMAN TRAFFICKING","ASSAULT ON MODESTY","SEXUAL HARRASSMENT","OTHERS"]].sum().reset_index()
consolidated_state

,STATES,RAPE,KIDNAP & ABDUCTION,DOWRY DEATHS,CRUETLY BY HUSBAND OR HIS RELATIVES,HUMAN TRAFFICKING,ASSAULT ON MODESTY,SEXUAL HARRASSMENT,OTHERS
0,A & N Islands,223,96,5,69,1,344,96,10
1,Andhra Pradesh,12728,9786,3053,96269,344,49750,25925,2531
2,Arunachal Pradesh,741,832,3,582,4,918,81,7
3,Assam,19428,55094,1742,107680,581,36528,2599,339
4,Bihar,9743,65137,13568,35800,78,3285,622,399
5,Chandigarh,695,1312,37,1182,8,772,182,7
6,Chhattisgarh,15427,14621,840,8622,134,17400,2993,100
7,D&N Haveli,54,73,5,36,13,36,6,5
8,Daman & Diu,47,33,2,32,2,32,11,28
9,Delhi UT,15308,38271,1357,34395,117,29938,6878,110
10,Goa,753,589,5,207,186,1225,380,111
11,Gujarat,6603,15784,201,49759,37,10548,1746,493
12,Haryana,12767,25097,2527,42031,70,20023,4570,519
13,Himachal Pradesh,3021,2845,27,2665,1,4558,997,64
14,Jammu & Kashmir,3238,10235,88,4123,2,14759,1916,9
15,Jharkhand,12178,10091,4329,13366,332,9224,1213,74
16,Karnataka,8457,13227,3914,30233,114,48286,2407,3135
17,Kerala,15010,2035,156,43031,313,41893,7136,971
18,Ladakh,4,1,0,12,0,9,1,0
19,Lakshadweep,13,0,0,11,162,19,11,0
20,Madhya Pradesh,44281,48532,6595,59917,283,76047,12293,236
21,Maharashtra,29305,50781,2541,84344,954,96409,22931,2711
22,Manipur,550,1016,4,293,16,689,70,15
23,Meghalaya,1328,495,12,271,7,866,138,26
24,Mizoram,646,23,0,107,7,632,157,11
25,Nagaland,202,183,3,25,1,120,27,15
26,Odisha,17651,30021,4437,33046,352,86970,6617,279
27,Puducherry,83,105,23,89,0,301,77,13
28,Punjab,8081,12586,893,16251,15,8888,1341,514
29,Rajasthan,43477,46750,4626,157627,23,59506,2196,769
30,Sikkim,301,127,3,33,1,237,41,1
31,Tamil Nadu,5319,12557,993,15625,48,10214,1610,4613
32,Telangana,6980,8971,2012,60486,381,33001,6172,891
33,Tripura,1746,1287,278,5833,3,2531,209,6
34,Uttar Pradesh,35234,120633,25716,131869,82,94782,20023,342
35,Uttarakhand,3876,4159,729,5057,16,4026,403,110
36,West Bengal,15342,52963,4981,211112,379,38777,5815,940

In [128]:
consolidated_year = df[["STATES","YEAR", "RAPE","KIDNAP & ABDUCTION","DOWRY DEATHS","CRUETLY BY HUSBAND OR HIS RELATIVES","HUMAN TRAFFICKING","ASSAULT ON MODESTY","SEXUAL HARRASSMENT","OTHERS"]]

df_melted = pd.melt(consolidated_year, id_vars=['STATES','YEAR'], value_vars=["RAPE","KIDNAP & ABDUCTION","DOWRY DEATHS","CRUETLY BY HUSBAND OR HIS RELATIVES","HUMAN TRAFFICKING","ASSAULT ON MODESTY","SEXUAL HARRASSMENT","OTHERS"], var_name='CRIME_TYPE', value_name='VALUE')
#state_total = df.groupby('STATES')['VALUE'].sum().reset_index()
crime_type_total = df_melted.groupby('STATES')['VALUE'].sum().reset_index()

#df_melted[(df_melted["YEAR"] == 2011) and (df_melted["STATES"] == Andhra Pradesh)]

#df_combined[df_combined["STATES"] == "Bihar"]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2213778959.py, line 7)

In [8]:
df_combined = df_melted.merge(crime_type_total, on='STATES', how='left')
df_melted['PERCENTAGE'] = ((df_combined['VALUE_x'] / df_combined['VALUE_y'])*100).round(1)

#df_combined[df_combined["STATES"] == "Bihar"]

In [9]:
df_melted[df_melted["STATES"] == "Bihar"]

    STATES                           CRIME_TYPE  VALUE  PERCENTAGE
4    Bihar                                 RAPE   9743         7.6
41   Bihar                   KIDNAP & ABDUCTION  65137        50.6
78   Bihar                         DOWRY DEATHS  13568        10.5
115  Bihar  CRUETLY BY HUSBAND OR HIS RELATIVES  35800        27.8
152  Bihar                    HUMAN TRAFFICKING     78         0.1
189  Bihar                   ASSAULT ON MODESTY   3285         2.6
226  Bihar                   SEXUAL HARRASSMENT    622         0.5
263  Bihar                               OTHERS    399         0.3

In [99]:
filter_df = df[df["YEAR"] == 2013] #filtered_data = filter_df

df_melted = pd.melt(filter_df, id_vars=['STATES',"YEAR"], value_vars=["RAPE","KIDNAP & ABDUCTION","DOWRY DEATHS","CRUETLY BY HUSBAND OR HIS RELATIVES","HUMAN TRAFFICKING","ASSAULT ON MODESTY","SEXUAL HARRASSMENT","OTHERS"], var_name='CRIME_TYPE', value_name='VALUE')

#pie = px.pie(df, values='pop', names='country', title='Population of European continent')
df_melted[df_melted["STATES"] == "Bihar"]
max_crm = df_melted.groupby(["STATES"])['VALUE'].idxmax()
df_melted.loc[max_crm].reset_index(drop=True)

               STATES  YEAR                           CRIME_TYPE  VALUE
0       A & N Islands  2013                   ASSAULT ON MODESTY     45
1      Andhra Pradesh  2013  CRUETLY BY HUSBAND OR HIS RELATIVES  15084
2   Arunachal Pradesh  2013                   ASSAULT ON MODESTY     93
3               Assam  2013  CRUETLY BY HUSBAND OR HIS RELATIVES   8636
4               Bihar  2013  CRUETLY BY HUSBAND OR HIS RELATIVES   4533
5          Chandigarh  2013                   KIDNAP & ABDUCTION    174
6        Chhattisgarh  2013                   ASSAULT ON MODESTY   2261
7          D&N Haveli  2013                   KIDNAP & ABDUCTION     11
8         Daman & Diu  2013                                 RAPE      8
9            Delhi UT  2013                   KIDNAP & ABDUCTION   3609
10                Goa  2013                   ASSAULT ON MODESTY    162
11            Gujarat  2013  CRUETLY BY HUSBAND OR HIS RELATIVES   7812
12            Haryana  2013  CRUETLY BY HUSBAND OR HIS RELATIVES   3617
13   Himachal Pradesh  2013                   ASSAULT ON MODESTY    493
14    Jammu & Kashmir  2013                   ASSAULT ON MODESTY   1389
15          Jharkhand  2013  CRUETLY BY HUSBAND OR HIS RELATIVES   2084
16          Karnataka  2013                   ASSAULT ON MODESTY   3913
17             Kerala  2013  CRUETLY BY HUSBAND OR HIS RELATIVES   4820
18        Lakshadweep  2013                                 RAPE      2
19     Madhya Pradesh  2013                   ASSAULT ON MODESTY   8252
20        Maharashtra  2013  CRUETLY BY HUSBAND OR HIS RELATIVES   8542
21            Manipur  2013                   KIDNAP & ABDUCTION    125
22          Meghalaya  2013                                 RAPE    183
23            Mizoram  2013                                 RAPE     89
24           Nagaland  2013                                 RAPE     31
25             Odisha  2013                   ASSAULT ON MODESTY   4618
26         Puducherry  2013                   KIDNAP & ABDUCTION     25
27             Punjab  2013  CRUETLY BY HUSBAND OR HIS RELATIVES   1741
28          Rajasthan  2013  CRUETLY BY HUSBAND OR HIS RELATIVES  15094
29             Sikkim  2013                                 RAPE     43
30         Tamil Nadu  2013  CRUETLY BY HUSBAND OR HIS RELATIVES   2471
31          Telangana  2013                                 RAPE      0
32            Tripura  2013  CRUETLY BY HUSBAND OR HIS RELATIVES    827
33      Uttar Pradesh  2013                   KIDNAP & ABDUCTION   9737
34        Uttarakhand  2013                   KIDNAP & ABDUCTION    633
35        West Bengal  2013  CRUETLY BY HUSBAND OR HIS RELATIVES  18116

In [117]:
consolidated_states = df.groupby('YEAR')[["RAPE","KIDNAP & ABDUCTION","DOWRY DEATHS","CRUETLY BY HUSBAND OR HIS RELATIVES","HUMAN TRAFFICKING","ASSAULT ON MODESTY","SEXUAL HARRASSMENT","OTHERS"]].sum().reset_index()

melted = pd.melt(consolidated_states, id_vars=['YEAR'], value_vars=["RAPE","KIDNAP & ABDUCTION","DOWRY DEATHS","CRUETLY BY HUSBAND OR HIS RELATIVES","HUMAN TRAFFICKING","ASSAULT ON MODESTY","SEXUAL HARRASSMENT","OTHERS"], var_name='CRIME_TYPE', value_name='VALUE')

new_df = melted.groupby("CRIME_TYPE")["VALUE"].sum().reset_index()
#melted[melted["YEAR"] == 2012]

    YEAR                           CRIME_TYPE  VALUE
0   2011                                 RAPE  24206
11  2011                   KIDNAP & ABDUCTION  35565
22  2011                         DOWRY DEATHS   8618
33  2011  CRUETLY BY HUSBAND OR HIS RELATIVES  99135
44  2011                    HUMAN TRAFFICKING    257
55  2011                   ASSAULT ON MODESTY      0
66  2011                   SEXUAL HARRASSMENT   8570
77  2011                               OTHERS   2435

In [12]:
filter_df = df[df["YEAR"] == 2012] #filtered_data = filter_df

pd.melt(filter_df, id_vars=["YEAR"], value_vars=["RAPE","KIDNAP & ABDUCTION","DOWRY DEATHS","CRUETLY BY HUSBAND OR HIS RELATIVES","HUMAN TRAFFICKING","ASSAULT ON MODESTY","SEXUAL HARRASSMENT","OTHERS"], var_name='CRIME_TYPE', value_name='VALUE')

     YEAR CRIME_TYPE  VALUE
0    2012       RAPE   1341
1    2012       RAPE     46
2    2012       RAPE   1716
3    2012       RAPE    927
4    2012       RAPE   1034
..    ...        ...    ...
283  2012     OTHERS      2
284  2012     OTHERS      3
285  2012     OTHERS     24
286  2012     OTHERS      0
287  2012     OTHERS      4

[288 rows x 3 columns]

In [113]:

df[["STATES", "YEAR", "Total Crimes Against Women"]]


df[df["STATES"]=="Andhra Pradesh"][["YEAR","Total Crimes Against Women"]]

     YEAR  Total Crimes Against Women
0    2011                       28246
36   2012                       28171
72   2013                       32809
108  2014                       16512
144  2015                       15931
180  2016                       16362
216  2017                       17909
252  2018                       16438
288  2019                       17746
324  2020                       17089
361  2021                       17752

In [49]:
indian_states = json.load(open('india_states.geojson', 'r'))


state_id_map = {}
for feature in indian_states['features']:
    feature['id'] = feature['properties']['state_code']
    state_id_map[feature['properties']['st_nm']] = feature['id']
    
state_id_map

{'Telangana': 0,
 'A & N Islands': 35,
 'Andhra Pradesh': 28,
 'Arunachal Pradesh': 12,
 'Assam': 18,
 'Bihar': 10,
 'Chhattisgarh': 22,
 'Daman & Diu': 25,
 'Goa': 30,
 'Gujarat': 24,
 'Haryana': 6,
 'Himachal Pradesh': 2,
 'Jammu & Kashmir': 1,
 'Jharkhand': 20,
 'Karnataka': 29,
 'Kerala': 32,
 'Lakshadweep': 31,
 'Madhya Pradesh': 23,
 'Maharashtra': 27,
 'Manipur': 14,
 'Chandigarh': 4,
 'Puducherry': 34,
 'Punjab': 3,
 'Rajasthan': 8,
 'Sikkim': 11,
 'Tamil Nadu': 33,
 'Tripura': 16,
 'Uttar Pradesh': 9,
 'Uttarakhand': 5,
 'West Bengal': 19,
 'Odisha': 21,
 'D&N Haveli': 26,
 'Meghalaya': 17,
 'Mizoram': 15,
 'Nagaland': 13,
 'Delhi UT': 7}

In [51]:
state_id_map = json.load(open('state_id_map.json','r'))
state_id_map

{'Telangana': 0,
 'A & N Islands': 35,
 'Andhra Pradesh': 28,
 'Arunachal Pradesh': 12,
 'Assam': 18,
 'Bihar': 10,
 'Chhattisgarh': 22,
 'Daman & Diu': 25,
 'Goa': 30,
 'Gujarat': 24,
 'Haryana': 6,
 'Himachal Pradesh': 2,
 'Jammu & Kashmir': 1,
 'Jharkhand': 20,
 'Karnataka': 29,
 'Kerala': 32,
 'Lakshadweep': 31,
 'Madhya Pradesh': 23,
 'Maharashtra': 27,
 'Manipur': 14,
 'Chandigarh': 4,
 'Puducherry': 34,
 'Punjab': 3,
 'Rajasthan': 8,
 'Sikkim': 11,
 'Tamil Nadu': 33,
 'Tripura': 16,
 'Uttar Pradesh': 9,
 'Uttarakhand': 5,
 'West Bengal': 19,
 'Odisha': 21,
 'D&N Haveli': 26,
 'Meghalaya': 17,
 'Mizoram': 15,
 'Nagaland': 13,
 'Delhi UT': 7}

In [100]:
pre_df = df.groupby('YEAR')['Total Crimes Against Women'].sum().reset_index()
df[[]]

               STATES  Total Crimes Against Women
0       A & N Islands                        1291
1      Andhra Pradesh                      224965
2   Arunachal Pradesh                        3431
3               Assam                      241995
4               Bihar                      161270
5          Chandigarh                        4248
6        Chhattisgarh                       66471
7          D&N Haveli                         396
8         Daman & Diu                         205
9            Delhi UT                      136241
10                Goa                        3494
11            Gujarat                       98427
12            Haryana                      118878
13   Himachal Pradesh                       15143
14    Jammu & Kashmir                       36494
15          Jharkhand                       66611
16          Karnataka                      141305
17             Kerala                      121214
18             Ladakh                          27
19        Lakshadweep                         106
20     Madhya Pradesh                      277512
21        Maharashtra                      322283
22            Manipur                        3014
23          Meghalaya                        4910
24            Mizoram                        2087
25           Nagaland                         708
26             Odisha                      206117
27         Puducherry                        1162
28             Punjab                       53002
29          Rajasthan                      326347
30             Sikkim                        1262
31         Tamil Nadu                       70526
32          Telangana                      135243
33            Tripura                       13124
34      Uttar Pradesh                      482787
35        Uttarakhand                       21797
36        West Bengal                      358034

In [94]:
future_years = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026]    
new_yr = future_years.copy()
new_yr = new_yr[new_yr.index(2017) : new_yr.index(2021)+1]
np.array(new_yr).reshape(-1, 1).astype('int64')

array([[2017],
       [2018],
       [2019],
       [2020],
       [2021],
       [2022],
       [2023],
       [2024],
       [2025],
       [2026]], dtype=int64)

In [81]:
x = pre_df['YEAR'].values.reshape(-1, 1)
y = pre_df["Total Crimes Against Women"]
x

array([[2011],
       [2012],
       [2013],
       [2014],
       [2015],
       [2016],
       [2017],
       [2018],
       [2019],
       [2020],
       [2021]], dtype=int64)

In [92]:
pre_df["Total Crimes Against Women"]
pre_df[(pre_df['YEAR'] >= 2016) & (pre_df['YEAR'] <= 2020)]

   YEAR  Total Crimes Against Women
5  2016                      338954
6  2017                      359849
7  2018                      378277
8  2019                      405861
9  2020                      371503